.label {
    /* add style rules here to change how the label appears */
    margin: .75rem 0;
}

.hint {
    /* add style rules here to change how the hint appears */
    margin: .5rem 0;
    color: rgba(0,0,0,.65);
    font-style: italic;
}

.response {
    /* add style rules here to change how the response appears */
    width: 100%;
    margin: .5rem 0;
    padding: .5rem;
    border: 1px solid #047CC2;
    box-sizing: border-box;
}

.is-read-only .response {
    /* this affects how the input appears when the field is marked read only */
    outline: none;
    background-color: rgba(0,0,0,.07);
    border: 1px solid rgba(0,0,0,.3);
}
.loading-container {
    /* this is the whole section that appears while the IP address is being fetched */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.loader {
    /* this is the spinning circle that appears while the IP address is being fetched */
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}